@import "reset";

$Very_Dark_Grayish_Blue: hsl(217, 19%, 35%);
$Desaturated_Dark_Blue: hsl(214, 17%, 51%);
$Grayish_Blue: hsl(212, 23%, 69%);
$Light_Grayish_Blue: hsl(210, 46%, 95%);

body {
    font-size: 0.8125rem;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    background-color: $Light_Grayish_Blue;
    padding: 5rem 1.5rem
}

@media (min-width: 600px) {
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem 22rem;
    }
    main {
        display: flex;
    }
}

.grid-flow {
    display: grid;
    align-content: start;
    gap: 1rem;
}

.card {
    background-color: white;
    border-radius: 0.5rem;
    overflow: hidden;
}

.preview-image {
    width: 100%;
    height: 12rem;
    object-fit: cover;
}

@media (min-width: 600px) {
    .preview-image {
        height: 100%;
    }
}

.article-info {
    padding: 1rem 2.2rem;
}

@media (min-width: 600px) {
    .article-info {
        padding: 2rem 2.2rem;
    }
}

.preview-title {
    font-size: 1rem;
    font-weight: 700;
    color: $Very_Dark_Grayish_Blue;
    margin-top: 1.5rem;
}

@media (min-width: 600px) {
    .preview-title {
        font-size: 1.2rem;
        margin-top: 0;
    }
}

.preview-description {
    color: $Desaturated_Dark_Blue;
}

.author-info {
    display: flex;
    gap: 1rem;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.author-avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.author-name {
    font-weight: 700;
    color: $Very_Dark_Grayish_Blue;
}

.article-date {
    color: $Grayish_Blue;
}

.share_button {
    border-radius: 50%;
    border: none;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $Light_Grayish_Blue;
}

.share_toggletip {
    display: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}